.create-alert-header {
    margin: 30px 0;
}

.form-row-check {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.form-row-check .form-check {
    height: 33px;
}

.btn .fa-pause {
    color: white;
}

.btn-warning {
    background-color: #ff9c07;
    border-color: #ff9c07;
}

.alert-danger .alert-link {
    text-decoration: underline;
}

.home-summary td {
    padding: 5px 15px;
}

.home-summary .alert {
    margin-bottom: 0;
}